# Data overview

Note: Original coordinates (large numbers) are in Swiss coordinate system. New coordinates are in local GTS coordinates:
- GTS_coordinates.x = 667400
- GTS_coordinates.y = 158800
- GTS_coordinates.z = 1700

The folder `01BasicInputData` has the following structure:
- `01_TunnelCavernCoordinates`
- `02_Boreholes`  
    - Files: `INJ`, `FBS`, `GEO`, `PRP`, `SBH`.
        - Summary: Data on each borehole (INJ1, INJ2, ... )
        - Columns: Coordinates (Swiss, x,y,z), length, diameter, azimuth, upward gradient
- `03_GeologicalMapping`
    - `01_TunnelIntersections`
        - Files: `Tunnel_intersections` \
            - Summary: Data on tunnel-shearzone intersections (wrt. tunnels)
            - Columns: Coordinates (Swiss, x,y,z), true dip direction, dip, tunnel, shearzone
    - `02_BoreholeIntersections` \
        - Files: `INJ1_structures`, `INJ2_structures`, ... \
            - Summary: Data on borehole-structures intersections (wrt. boreholes)
            - Columns: depth, azimuth, dip, aperture, type
- `04_Geostatistics`
- `05_independetConstraints`
- `06_ShearzoneInterpolation`
    - Files: `S1_1`, `S2_2`, ... 
        - Summary: Data on depth of all boreholes for intersection with given shearzone
        - Columns: borehole, depth
    - Files: `S1_1-patches`, `S1_2-patches`, ... 
        - Summary: Many collections (patches) of 3 boreholes/tunnels. Each patch signifies vertices of a linear interpolation (fracture plane) for the given shearzone.
        - Content: x rows, each with lists of 3 different boreholes/tunnels. 
    - Files `S1_2N`, `S1_3N`, `S3_1N`, `S3_2N` (note not S1_1). \
        - Summary: Northern and southern boundaries of shearzones in tunnels
        - Columns: Shearzone, id, coordinates (Swiss, x,y,z), tunnel
    - Files: `S11_interp_grid`, ...
        - Summary: 3rd order polynomial interpolation of shearzones
        - Content: Rows 1-20 (x-coordinates), rows 21-40 (y-coordinates), rows 41-60 (z-coordinates) \
            1000 coordinates for plotting

In [1]:
%cd C:\Users\Haakon\OneDrive\Dokumenter\FORSKNING\mastersproject\src\mastersproject
from GTS.ISC_data.isc import ISCData

C:\Users\Haakon\OneDrive\Dokumenter\FORSKNING\mastersproject\src\mastersproject

In [2]:
cls = ISCData()

# `borehole_data(self)`

In [6]:
cls.borehole_data()

,x,y,z,length,diameter,azimuth,upward_gradient,borehole
0,667466.424,158888.882,1732.782,44.80,101,317.05,-31.92,FBS1
1,667470.633,158905.016,1732.725,47.58,101,253.07,-40.46,FBS2
2,667471.317,158926.213,1732.263,44.00,101,219.92,-37.33,FBS3
3,667470.546,158859.278,1746.458,18.20,101,258.89,-75.13,SBH1
4,667468.567,158885.383,1733.960,20.55,101,190.07,4.91,SBH3
5,667468.729,158892.774,1733.910,23.90,101,320.00,5.00,SBH4
6,667466.231,158888.399,1732.817,44.66,146,309.57,-33.52,INJ1
7,667466.787,158890.217,1732.881,44.80,146,332.28,-43.65,INJ2
8,667466.510,158889.310,1732.640,47.91,131,320.00,-44.00,PRP1
9,667466.510,158889.310,1733.120,44.98,131,321.99,-31.99,PRP2
10,667468.390,158892.660,1733.100,32.33,131,335.01,-25.00,PRP3
11,667470.730,158896.006,1732.364,30.26,86,270.33,-47.79,GEO1
12,667470.589,158896.008,1732.496,40.09,86,270.03,-34.20,GEO2
13,667470.923,158912.008,1732.416,30.10,86,269.96,-47.80,GEO3
14,667470.776,158912.000,1732.618,40.05,86,270.03,-34.22,GEO4

# `borehole_structure_data(self)`

In [5]:
cls.borehole_structure_data()

     depth  azimuth    dip  aperture                      type borehole
0     2.35   169.30  57.47    334.61  Minor ductile Shear-zone     FBS1
1     2.99   162.65  58.83     35.70  Minor ductile Shear-zone     FBS1
2     3.27   172.09  58.07      0.00                 Foliation     FBS1
3     5.02   163.86  61.26    578.25  Minor ductile Shear-zone     FBS1
4     6.76   169.90  66.49      0.00                 Foliation     FBS1
..     ...      ...    ...       ...                       ...      ...
586  36.12   163.97  74.71      0.00                  Fracture     GEO4
587  36.22   164.61  72.02      0.00                  Fracture     GEO4
588  36.31   168.60  64.36      0.00                  Fracture     GEO4
589  38.32   160.06  74.77      0.00                  Fracture     GEO4
590  39.05   180.71  64.95      0.00                  Fracture     GEO4

[591 rows x 6 columns]

# `borehole_shearzone_data(self)`

In [7]:
cls.borehole_shearzone_data()

     depth  azimuth    dip  aperture      type borehole
5     7.07   154.03  59.73       0.0  Fracture     FBS1
6     7.86    94.83  50.45       0.0  Fracture     FBS1
7     8.07   110.55  51.87       0.0  Fracture     FBS1
8    10.95   168.97  67.81       0.0  Fracture     FBS1
9    10.98   165.93  76.38       0.0  Fracture     FBS1
..     ...      ...    ...       ...       ...      ...
586  36.12   163.97  74.71       0.0  Fracture     GEO4
587  36.22   164.61  72.02       0.0  Fracture     GEO4
588  36.31   168.60  64.36       0.0  Fracture     GEO4
589  38.32   160.06  74.77       0.0  Fracture     GEO4
590  39.05   180.71  64.95       0.0  Fracture     GEO4

[474 rows x 6 columns]

# `tunnel_shearzone_data(self)`

In [8]:
cls.tunnel_shearzone_data()

,x,y,z,true_dip_direction,dip,tunnel,shearzone
0,667472.625,158925.321,1733.436,330.00,83.25,AU,11
1,667409.735,158888.360,1735.419,140.90,51.39,VE,11
2,667474.565,158935.311,1733.858,142.25,78.88,AU,12
3,667410.917,158895.617,1734.431,146.44,80.64,VE,12
4,667474.839,158943.317,1733.611,135.33,72.02,AU,13
5,667418.560,158907.674,1734.916,155.84,64.72,VE,13
6,667472.094,158906.617,1732.813,170.00,72.40,AU,31
7,667422.420,158913.208,1733.608,168.00,74.50,VE,31
8,667472.185,158910.025,1733.639,171.70,67.25,AU,32
9,667425.125,158918.238,1733.762,160.00,71.00,VE,32

# `shearzone_borehole_data(self)`

In [9]:
cls.shearzone_borehole_data()

   borehole  depth shearzone
0      INJ1  34.92      S1_1
1      INJ2  30.99      S1_1
2      FBS1  31.09      S1_1
3      FBS2    NaN      S1_1
4      FBS3  19.42      S1_1
..      ...    ...       ...
70     GEO3    NaN      S3_2
71     GEO4    NaN      S3_2
72     SBH1    NaN      S3_2
73     SBH3    NaN      S3_2
74     SBH4  23.79      S3_2

[75 rows x 3 columns]